.App {
  display: flex;
  text-align: center;
  background-color: rgb(231, 208, 177);
}

.Header-box {
  padding: 1rem 4rem;
  display: grid;
}

.App-logo {
  max-width: 100%;
  height: auto;
  border: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: rgb(231, 208, 177);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
